<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="start">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Start</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="middle">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Middle</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="end">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>End</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
